@import "tailwindcss";

@layer base {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #0C1222;
    color: #E7ECF2;
    font-family: 'Manrope', sans-serif;
  }
}

@layer utilities {
  .backdrop-blur-xl {
    backdrop-filter: blur(24px);
  }
}